  


    /*=====================
        .Fonts
        ==========================*/
        @font-face {
            font-family: 'MontserratBlack';
            src: url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
                url('../fonts/Montserrat/Montserrat-Black.woff') format('woff');
            font-weight: 900;
            font-style: normal;
            font-display: swap;
        }
        
        @font-face {
            font-family: 'MontserratBold';
            src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
                url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
        }


        @font-face {
            font-family: 'Montserrat';
            src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
                url('../fonts/Montserrat/Montserrat-Light.woff') format('woff');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
        }


        .regularFont{
            font-family: 'Montserrat';
        }
        .boldFont{
            font-family: 'MontserratBold';

        }
  body {
      font-family: "Montserrat" ;
  }

  .navbar-collapse {
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  }

 
  .bg-gradient-principale{
    background-color: #26366B;
    background: #26366B;
  }
  .bg-Smart{
    background-color: #26366B;
    background: #26366B;  }


  .table-responsive {
    overflow-x: hidden;
  }
  
  .btn{
    color: #fff;
    &:hover{
        color: #fff;
    }

    &.btn-smart{
        background-color: rgb(236 ,3 ,6);
      }
    
      &.btn-gray{
        background-color: rgb(170 ,170 ,178);

      }


  }
 


  .pager {
    display: inline-block;
    border: 1px solid #eff0f1;
    font-family: "STC-Regular";
}

.pager li {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}

.pager li:hover {
    background: rgba(241, 244, 251, .6) !important;
}

.custom-pagination .page-number {
    display: inline-block;
    /* padding: 5px 12px; */
    //background: #afffe6;
    margin: 0px 4px;
    // border-radius: 25px;
}

.page-number.current {
    background: rgb(241, 244, 251) !important;
    text-align: center;
    color: #fff !important;
    margin: 0;
}

.page-number span,
.pagination-previous,
.pagination-next {
    color: inherit;
    min-width: 38px;
    line-height: 38px;
    text-align: center;
    display: block;
    width: 28px;
    /* height: 28px; */
    font-size: 15px;
    cursor: pointer;
    color: #000 !important;
}

.pagination-previous,
.pagination-next {
    display: inline-block;
    //   font-weight: bold;
    border: 1px solid #eff0f1;
    font-family: "STC-Regular";
}

.filter-ngx.input-search {
    padding: 8px;
    margin-bottom: 30px;
    border: 1px solid #eff0f1;
    width: 30%;
    color: #999;
}




  
